*, html, body {
    box-sizing: border-box;
    margin: 0;
}
header {
    background-image:url(../assets/images/header-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
nav {
    background-color: #53BF9F;
    width: 100%;
}
.header-logo {
    display: block;
    float: left;
    margin-left: 40px;
    margin-top: 40px;
}
ul.menu {
    display: block;
    float: right;
    margin: 40px 40px 0 0;
}
ul.menu li {
    display: inline-block;
    list-style-type: none;
    margin-left: 16px;
}
ul.menu li a {
    color: #fff;
    text-decoration: none;
}
